@import "tailwindcss";


@theme {
  --color-background: #f5f5f7;
  --color-alt-background: #fafafa;
  --color-text: #080808;
  --color-transition: #121212;
  --color-text-op: #878787;
  --color-footer: #999999;
  --color-span-grey: #b6b6b6;
  --color-dim-grey: #636363;
  --color-french-grey: #d1d1d6;
  --color-tiffany-blue: #A7DAD8;
  --color-hey-green: #636363;
  --color-ascensor: #F15A24;
  --color-bauti: #F0EFD6;


  --font-family: 'sf-pro-display';
                                                
}