@import "tailwindcss";


@theme {
  --color-background: #f5f5f7;
  --color-text: #1C1C1E;
  --color-dim-grey: #636366;
  --color-french-grey: #d1d1d6;
  --color-tiffany-blue: #A7DAD8;
  --color-hey-green: #09403a

  --font-family: 'sf-pro-display';
                                                
}